body {
  margin: 0px;
  font-family: 'Poppins', monospace ,sans-serif;
  background-color: rgb(51, 51, 51);
}

.container {
  width: 50%;
  height: 70vh;
  margin: auto;
  position: relative;
  top: 10px;
  border-radius: 40px;
  background: linear-gradient(to right bottom, #F9F5F6, #F8E8EE, #FDCEDF, #F2BED1);
}

.calculator {
  display: flex;
  justify-content: center;
}
.title {
  text-decoration: underline;
  font-size: 45px;
}

.information {
  position: relative;
  left: 25px;
  top: 25px;
  font-size: 25px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 120px 40px;
  row-gap: 20px;;
}
.information label {
  width: 200px;
}
.information input {
  cursor: pointer;
}

.how-pay{
  font-size: 25px;
  margin: 0px;
  text-decoration: underline dotted;
} 

.enter-pay {
  position: relative;
  left: 320px;
  top: -350px;
  height: 30vh;
  width: 70%;
  font-size: 22px;
  font-weight: 600;
}
.enter-pay input {
  padding: 0px;
  position: relative;
  top: 1px;
  font-size: 22px;
  font-family: 'Poppins', monospace, sans-serif;
  font-weight: 600;
}

.brackets {
  border: 1px solid black;
  width: 500px;
  position: relative;
  left: 320px;
  top: -590px;
  font-size: 20px;
  font-weight: 500;
}

.submit {
  font-size: 25px;
  font-family: 'Poppins', monospace, sans-serif;
  font-weight: 700;
  width: 180px;
  background: linear-gradient(to right bottom, #BE5A83, #E06469, #F2B6A0, #DEDEA7);
  padding: 5px;
  position: relative;
  left: 150px;
  top: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 150ms ease;
}
.submit:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,.7);
}