body {
  font-family: 'Poppins', monospace, sans-serif;
  margin: 0px;
  background-color: rgb(43, 43, 43);
}

.container {
  width:70rem;
  height: 50rem;
  margin: auto;
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right bottom, #053B50, #176B87, #64CCC5, #8cf1eb);
  border-radius: 40px;
  box-shadow: 0px 5px 25px rgba(255,255,255,.7);
  align-items: center;
}
.title, h2 {
  text-align: center;
  font-size: 40px;
  color: rgb(43,43,43);
}
h2 {
  text-decoration: underline;
  margin: 0px;
}

.budget {
  width: 80%;
  height: 80%;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 50px;
  row-gap: 10px;
  column-gap: 40px;
  text-align: left;
  padding: 10px;
}
.budget label {
  position: relative;
  left: -5px;
  font-size: 15px;
  color: white;
  text-shadow: 0px 0px 10px black;
  cursor: pointer;
}
.submit{
  display: inline;
  width: 125%;
  height: 15%;
  cursor: pointer;
  top: 22.5rem;
  left: 6rem;
}
.budget input {
  position: relative;
  font-size: 16px;
  font-family: 'Poppins', monospace, sans-serif;
  border-radius: 10px;
  border: 2px rgb(48, 48, 48) solid;
  background: linear-gradient(to right bottom, #FFEADD, #FCAEAE, #FF8989, #FF6666);
  transition: box-shadow 150ms ease-in;
}
.budget input:hover {
  box-shadow: 0px 0px 10px rgba(255,255,255,.7);
}
.budget input:focus {
  box-shadow: 0px 0px 10px rgba(255,255,255,.7);
}

.expenses {
  position: relative;
  top: 100px;
  width: 80%;
  height: 10%;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows:50px;
  row-gap: 10px;
  column-gap: 40px;
  text-align: left;
}
.expenses input {
  background: linear-gradient(to right bottom, #FFF7D4, #FFD95A, #C07F00, #4C3D3D);
}
.internet-payment, .car-insurance-payment, .car-finance-payment, .shopping-payment {
  height: 50px;
}
.expense-title {
  position: absolute;
  left: 22.5rem;
  top: -6.5rem;
  text-align: center;
  font-size: 40px;
  color: rgb(43,43,43);
  text-decoration: underline;
}